rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /club/{c}/tables/{t} {
      //TODO: unique table name
      allow create, delete: if true
    }

    match /{document=**} {
      allow read: if true;
      allow write: if false;
    }
  }
}