rules_version = '2';

// TODO: create folder per club
//        - logo_512x512.png
// TODO: club delete -> delete folder
// TODO: write tests for storage rules
service firebase.storage {
  match /b/{bucket}/o {
     function isAuthenticated() {
      return request.auth != null;
    }

    function isClubMember(clubId) {
      return isAuthenticated() && request.auth.token.clubId == clubId;
    }

    function isClubAdmin(clubId) {
      return isClubMember(clubId) && request.auth.token.admin == true;
    }

    function isTableAdmin(clubId, tableId) {
      return isClubMember(clubId) && request.auth.token.tableId == tableId;
    }

    match /{clubId}/logo.jpg {
      allow get, list: if isClubMember(clubId);
      allow create, update: if isClubAdmin(clubId);
    }
  }
}
