rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
     function isAuthenticated() {
      return request.auth != null;
    }

    function isClubMember(clubId) {
      return isAuthenticated() && request.auth.token.clubId == clubId;
    }

    function isClubAdmin(clubId) {
      return isClubMember(clubId) && request.auth.token.admin == true;
    }

    match /clubs/{clubId} {
      allow read: if isClubMember(clubId);
      allow update: if isClubAdmin(clubId) &&
                      request.resource.data.diff(resource.data).affectedKeys().hasOnly(['name']) &&
                      request.resource.data.name.size() > 0 &&
                      request.resource.data.name.size() < 128;

      match /tables/{tableId} {
        allow read, create, delete: if isClubAdmin(clubId);
      }
    }
  }
}