rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
     function isAuthenticated(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    match /user/{userId} {
      allow read: if isAuthenticated(userId);
    }
  }
}